body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/img/fon2.jpg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
/** header setting
==============================**/
.header{
    width: 1440px;
    height: auto;
    background-color: #303030;
    margin: 0 auto;
    position: relative;
}
.header-menu_list{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-self: end;
}
/** menu setting
==============================**/
.list-item{
    background-color: #651fff;
    font-size: 25px;
    height: 30px;
    width: 110px;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    border-top: 2px solid #9c27b0;
    transition: opacity 200ms;
    box-shadow: 0 -3px 9px -5px rgba(212, 118, 196, 1);
}
.list-item:first-child{
    border-top: 2px solid #9c27b0;
    border-left: 2px solid #9c27b0;
    border-radius: 15px 0 0 0;
    box-shadow: -3px -3px 9px -5px rgba(212, 118, 196, 1);
}
.list-item:last-child{
    border-top: 2px solid #9c27b0;
    border-radius: 0 15px 0 0;
}
.list-item:hover{
    background-color: #cf89db;
    cursor: pointer;
}
.list-item-link{
    color: #d581e3;
    text-decoration:none;
    transition: opacity 200ms;
}
.list-item-link:hover{
    color: #000000;
    text-decoration: underline;
}
.header-user{
    background-image: url(../assets/img/fon.jpg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-image{
    position: relative;
}
.user-image-img {
    position: relative;
    border-radius: 10px;
    top: 55px;
    right: 100px;
    width: 152px;
    height: 270px;
}
/**setting lines around
==============================**/
.user-image-block1{
    position: absolute;
    top: 24px;
    right: 84px;
    width: 152px;
    height: 270px;
    border-right: 2px solid #9c27b0;
    border-top: 2px solid #9c27b0;
    box-shadow: 3px -3px 9px -5px rgba(212, 118, 196, 1);
}
.user-image-block2{
    position: absolute;
    display: block;
    top: 84px;
    right: 115px;
    width: 152px;
    height: 270px;
    border-left: 2px solid #9c27b0;
    border-bottom: 2px solid #9c27b0;
    box-shadow: -3px 3px 9px -5px rgba(212, 118, 196, 1);
}
.user-image-block3{
    position: absolute;
    top: 355px;
    width: 237px;
    height: 40px;
    border-bottom: 2px solid #9c27b0;
    border-left: 2px solid #9c27b0;
    border-radius: 0 0 0 10px;
    box-shadow: -3px 3px 9px -5px rgba(212, 118, 196, 1);
}
.user-info-name{
    padding: 20px 100px 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 70px;
    animation: color-change 6s infinite;
}
.user-info-profession{
    margin: 0;
    padding: 0 150px;
    font-size: 40px;
    mix-blend-mode: overlay;
}
@keyframes color-change {
    0% {
    color: #ffffff;
    }
    
    50% {
    color: #000;
    }
    
    100% {
    color: #ffffff;
    }
}
/**main setting
==============================**/
.main{
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 1440px;
    background-color: #303030;
    margin: 0 auto;
    color: #FFFFFF;
}
/**aside setting
==============================**/
.main-info{
    width: 450px;
    margin: 150px 0 0 70px;
    font-size: 21px;
}
.main-info-block{
    position: relative;
    border-right: 2px solid #9c27b0;
    box-shadow: 4px 0 9px -6px rgba(212, 118, 196, 1);
    height: 1100px;
    bottom: 27px;
    right: 3px;
}
.info-contacts{
    padding-top: 70px;
}
.info-contacts-title {
    text-align: center;
    height: 35px;
    width: 200px;
    background-color: #9c27b0;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 30px;
    transition: opacity 200ms;
}
.info-contacts-title:hover{
    background-color: #cf89db;
    color: #000000;
    cursor: pointer;
}
.info-contacts-details{
    width: 100%;
    border-top: 2px solid #9c27b0;
    box-shadow: 3px -3px 9px -5px rgba(212, 118, 196, 1);
    border-radius: 0 20px 0 0;
    transition: opacity 200ms;
}
.details-tel{
    list-style-type: none;
}
.details-tel-icon{
    height: 21px;
    padding: 10 10px 0 0;
}
.details-tel-link{
    display: block;
    margin-top: 25px;
    font-size: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 200ms;
}
.details-tel:hover{
    color: #cf89db;
    text-decoration: underline;
}
.details-email{
    list-style-type: none;
}
.details-email-icon{
    height: 30px;
}
.details-email-link{
    display: block;
    font-size: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.details-email:hover{
    color: #cf89db;
    text-decoration: underline;
}
.info-education-title{
    text-align: center;
    height: 35px;
    width: 200px;
    background-color: #9c27b0;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 30px;
    transition: opacity 200ms;
}
.info-education-title:hover{
    background-color: #cf89db;
    color: #000000;
    cursor: pointer;
}
.info-education{
    margin-top: 50px;
}
.info-education-details{
    width: 100%;
    border-top: 2px solid #9c27b0;
    border-radius: 0 20px 0 0;
    box-shadow: 3px -3px 9px -5px rgba(212, 118, 196, 1);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.details-block-date{
    padding: 0;
    margin: 20px 20px 5px 40px;
    font-size: 18px;
}
.details-block-designation{
    padding: 0;
    margin: 0 20px 25px 40px;
    font-size: 18px;
}
.details-information{
    margin-top: 20px;
}
.info-skills-title{
    text-align: center;
    height: 35px;
    width: 200px;
    background-color: #9c27b0;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 30px;
    transition: opacity 200ms;
}
.info-skills-title:hover{
    background-color: #cf89db;
    color: #000000;
    cursor: pointer;
}
.info-skills-details{
    width: 100%;
    border-top: 2px solid #9c27b0;
    border-radius: 0 20px 0 0;
    box-shadow: 3px -3px 9px -5px rgba(212, 118, 196, 1);
}
.info-language-title{
    text-align: center;
    height: 35px;
    width: 200px;
    background-color: #9c27b0;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 30px;
    transition: opacity 200ms;
}
.info-language-title:hover{
    background-color: #cf89db;
    color: #000000;
    cursor: pointer;
}
.info-language-details{
    width: 100%;
    border-top: 2px solid #9c27b0;
    border-radius: 0 20px 0 0;
    box-shadow: 3px -3px 9px -5px rgba(212, 118, 196, 1);
}
/**main-content setting
==============================**/
.main-content{
    width: 990px;
}
.main-content-description{
    margin: 60px 20px 0 ;
    padding: 20px 20px;
}
.description-title{
    padding: 0;
    font-size: 30px;
    width: 150px;
    text-align: center;
    margin: 10px 0 3px 715px;
    font-size: 30px;
    border-radius:  0 20px 0 20px;
    box-shadow: 0 0 9px 5px rgb(183, 71, 164);
    text-shadow: 0 -3px 5px rgba(212, 118, 196, 1);
    position: relative;
    transition: opacity 200ms;
}
.description-title::after{
    position: absolute;
    content: '';
    display: block;
    width: 765px;
    height: 100%;
    top: -3px;
    left: -759px;
    border-top: 4px solid #9c27b0;
    border-radius: 30px 0 0 0;
    box-shadow: -3px -3px 9px -5px rgba(212, 118, 196, 1);
}
.description-title:hover{
    background-color: #cf89db;
    color: #000000;
    cursor: pointer;
}
.description-block{
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 25px;
    text-align: justify;
    border: 2px solid #9c27b0;
    border-radius:20px 0 20px 20px;
    box-shadow: 0 0 5px 3px rgba(212, 118, 196, 1);
    background-color: #503854a5;
}
/**projects setting
==============================**/
.main-content-projects{
    margin: 40px auto;
}
.projects-title{
    padding: 0;
    font-size: 30px;
    width: 150px;
    text-align: center;
    margin: 10px 0 3px 745px;
    font-size: 30px;
    border-radius:  0 20px 0 20px;
    box-shadow: 0 0 9px 5px rgb(183, 71, 164);
    text-shadow: 0 -3px 5px rgba(212, 118, 196, 1);
    position: relative;
    transition: opacity 200ms;
}
.projects-title::after{
    position: absolute;
    content: '';
    display: block;
    width: 750px;
    height: 100%;
    top: -37px;
    left: -750px;
    border-bottom: 4px solid #9c27b0;
    border-radius: 0 0 0 30px;
    box-shadow: -3px 3px 9px -5px rgba(212, 118, 196, 1);
}
.projects-title:hover{
    background-color: #cf89db;
    color: #000000;
    cursor: pointer;
}
.projects-block{
    margin: 0 auto;
    width: 840px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9c27b0;
    border-radius:20px 0 20px 20px;
    box-shadow: 0 0 5px 3px rgba(212, 118, 196, 1);
}
.projects-block-website{
    margin: 20px 25px;
    text-align: center;
    font-size: 20px;
}
.website-link{
    cursor: pointer;
}
.website-link-img{
    height: 200px;
    width: 350px;
}
.website-description{
    margin: 5px 0;
}
/**code setting
==============================**/
.main-content-code{
    width: 860px;
    margin: 0 auto 40px;
    font-size: 12px;
}
.code-title{
    width: 150px;
    text-align: center;
    margin: 20px 0 3px 710px;
    font-size: 30px;
    border-radius:  0 20px 0 20px;
    box-shadow: 0 0 9px 5px rgb(183, 71, 164);
    text-shadow: 0 -3px 5px rgba(212, 118, 196, 1);
    position: relative;
}
.code-title::after{
    position: absolute;
    content: '';
    display: block;
    width: 755px;
    height: 100%;
    bottom: 34px;
    left: -755px;
    border-bottom: 4px solid #9c27b0;
    border-radius: 0 0 0 30px;
    box-shadow: -3px 3px 9px -5px rgba(212, 118, 196, 1);
}
.code-title:hover{
    background-color: #cf89db;
    color: #000000;
    cursor: pointer;
}
.code-block{
    background-color: #1f1f1f;
    border-radius: 20px 0 0 20px;
    border: 2px solid #9c27b0;
    box-shadow: 0 0 5px 3px rgba(212, 118, 196, 1);
}
.code-block-pre{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    margin: 0;
}
/** footer setting
==============================**/
.footer{
    position: relative;
    width: 1440px;
    height: 100px;
    background-color: #303030;
    margin: 0 auto;
}
.footer-block{
    position: absolute;
    right: 360px;
    width: 550px;
    height: 55px;
    border-right: 2px solid #9c27b0;
    border-top: 2px solid #9c27b0;
    border-radius: 0 20px 20px 0;
    box-shadow: 3px -3px 9px -5px rgba(212, 118, 196, 1);
}
.footer-block::after{
    content: '';
    display: block;
    position: absolute;
    top: -112px;
    right: 546px;
    width: 40px;
    height: 110px;
    border-left: 2px solid #9c27b0;
    border-bottom: 2px solid #9c27b0;
    border-radius: 0 0 0 20px;
    box-shadow: -3px 3px 9px -5px rgba(212, 118, 196, 1);
}
.footer-info{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #d581e3;
}
.footer-githab-img{
    width: 90px;
    height: 90px;
}
.footer-rs_school_js-img{
    height: 70px;
}
.footer-info-year{
    font-size: 30px;
}